html {
	background-color: black;
	color: white;
  margin: 0;
	padding: 0;
	background-image: url("./opensign.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

h1 {
	background-color: transparent;
}

button {
	padding: 10px;
  background-color: transparent;
	color: white;
	margin: 5px;
}

.sortable {
	color: red;
}

.sortable:hover {
	cursor: pointer;
}

#time {
	text-align: center;
}

#yelpLogo {
	background-repeat: no-repeat;
	background-position: center;
  position: fixed;
  bottom: 0;
  top: 0;
}

#header {
  height: 70px;
  width: 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: white;
  position: fixed;
  top: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: auto;
}

button {
	font-family: 'Roboto', sans-serif;
}

input {
	width: 400px;
	padding: 20px;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.8);
}